/* 
    Created on : 18/06/2015, 03:35:05 PM
    Author     : mario
*/
body {
    font-family: sans-serif;
    font-size: .7em !important;

}

.caption {
    color:  gray;
}

.presentacionIndex {
    max-width:100%; 
    max-height:100%;
    text-align: center;
}

.panelGridSinBorder tr, .panelGridSinBorder td {
    border: none !important;
}

.upperCase{
    text-transform: uppercase
}

.lowerCase{
    text-transform: lowercase
}

.campoFormulario{
    float: left; margin-right: .1em
}

.labelFormulario{
    float: left; padding: .4em; margin: 0px;  margin-right: .1em;border-radius:.45em;background: #3c667c; font-weight: bold;color: #e0e0e0;box-shadow: 0px .25px .25em black;   
}

.labelFormularioInformativa{
    float: left; padding: .25em; margin: 0px;  margin-right: .5em; font-weight: bold;font-style: italic;width: auto
}